/* .form {width: 250px;
  height: 300px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding: 20px 60px 40px 80px;
  background-color: lightyellow;
  margin: auto;
  margin-bottom: 15px;
  text-align: right;
  display: block;
  line-height: 6px;
} */
/* .Login {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(33, 89, 118);
    /* background-image: url("C:\Users\harshit_nema\Downloads\gram-panchayat.jpg"); 
  }
  .auth-form-container, .login-form, .register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label{
    text-align: left;
    padding: 0.25rem 0;
  }
  input{
    margin: 0.5rem 0;
    padding: 0.5rem;
    /* border: none;
    border-radius: 10px; 
  }
  button{
    border: none;
    background-color: azure;
    padding: 10px;
    border-radius: 15px;
    cursor:pointer;
  }
  .link-btn
  {
    background: none;
    color: white;
    text-decoration: underline;
  } */
  

  .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}